<?xml version="1.0"?>

<configuration>
    <system.webServer>
        <staticContent>
            <mimeMap fileExtension=".json" mimeType="application/json" />
			<remove fileExtension=".css" />
            <mimeMap fileExtension=".css" mimeType="text/css" />
     	</staticContent>
    </system.webServer>
</configuration>